*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight:700;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right,#76b852 ,#8DC26F);
}

.grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}

.grid button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.2);
}

.grid button:hover{
    background-color: rgba(255,255,255,.9);
}

.space-two{
    grid-column: span 2 ;
}

.output{
    grid-column: 1/-1;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}

.previous{
    color: azure;
    font-size: 1.5rem;
}

.current{
 color: aliceblue;
 font-size: 2.5rem;
}


