body{
    background: linear-gradient(45deg,magenta,pink,lightblue,blue);
}
p{
    border: 3px double white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    color: rgb(35, 0, 51);
    font-size: 2em;
    padding: 15px 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
