<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    {{>header}}

    <div class="main-content">
        <h1>404: Page not found</h1>
    </div>

    {{>footer}}
</body>
</html>