<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    {{>header}}

    <div class="main-content">
        Contact us for any queries
    </div>

    {{>footer}}
</body>
</html>