<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/icon.png">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}

    <div class="main-content">
        <form class="location">
            <input type="text" class="input" placeholder="Location">
            <button class="search">Search</button>
        </form>

        <div class="searchResult">
            
        </div>
    </div>

    {{>footer}}

    <script src="location.js"></script>
</body>
</html>