/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /* Colors */
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --text-color-light: #707070;
  --container-color: #fafafa;
  --container-color-alt: #f0efef;
  --body-color: #fcfcfc;

  /* Font and typography */
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margenes */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* BASE */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


/* Font size variables to scale cv */
body.scale-cv {
  --h1-font-size: 0.938rem;
  --h2-font-size: 0.938rem;
  --h3-font-size: 0.875rem;
  --normal-font-size: 0.813rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.688rem;
}
/* Generate PDF button */
.generate-pdf {
  display: none;
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}
.generate-pdf:hover {
  color: var(--title-color);
}
/* Classes modified to reduce size and print on A4 sheet */
.scale-cv .change-theme,
.scale-cv .generate-pdf {
  display: none;
}

.scale-cv .resume_left,
.scale-cv .resume_right {
  padding: 0 1rem;
}
.scale-cv .home_img {
  width: 90px;
  height: 90px;
}

.scale-cv .bd-container {
  max-width: 595px;
}
.scale-cv .section {
  padding: 1.41rem 0 0.8rem;
}
.scale-cv .section-title {
  margin-bottom: 0.75rem;
}

.scale-cv .home_container {
  gap: 1.5rem;
}
.scale-cv .home_data {
  gap: 0.25rem;
}
.scale-cv .home_address,
.scale-cv .social_container {
  gap: 0.75rem;
}
.scale-cv .home_icon,
.scale-cv .social_icon,
.scale-cv .interests_icon {
  font-size: 1rem;
}
.scale-cv .education_container,
.scale-cv .experience_container,
.scale-cv .certificate_container {
  gap: 1rem;
}
.scale-cv .education_time,
.scale-cv .experience_time {
  padding-right: 0.5rem;
}
.scale-cv .education_rounder,
.scale-cv .experience_rounder {
  width: 11px;
  height: 11px;
  margin-top: 0.22rem;
}

.scale-cv .education_line,
.scale-cv .experience_line {
  width: 1px;
  height: 110%;
  transform: translate(5px, 0);
}
.scale-cv .education_data,
.scale-cv .experience_data {
  gap: 0.25rem;
}

.scale-cv .skills_name {
  margin-top: var(--mb-1);
  margin-bottom: 0;
}
.scale-cv .interests_container {
  column-gap: 2.5rem;
}

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
/* CLASS CSS */
.section {
  padding: 1.5rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}
/* LAYOUT */
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}
.bd-grid {
  display: grid;
  gap: 1.5rem;
}

/* HOME */
.home {
  position: relative;
}
.home_container {
  gap: 3rem;
}
.home_data {
  gap: 0.5rem;
  text-align: center;
}
.home_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}
.home_title {
  font-size: var(--h1-font-size);
}
.home_profession {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}
.home_address {
  gap: 1rem;
}
.home_information {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}

.home_icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}
.home_button-movil {
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: 0.3s;
  font-weight: var(--font-medium);
  margin-top: var(--mb-3);
}
.home_button-movil:hover {
  background-color: var(--text-color);
  color: var(--container-color);
}
/* SOCIAL */
.social_container {
  grid-template-columns: max-content;
  gap: 1rem;
}
.social_link {
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  text-decoration: none;
}

.social_link:hover {
  color: var(--title-color);
}
.social_icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
  
}
/* PROFILE */
.profile_description {
  text-align: center;
}
/* EDUCATION AND EXPERIENCE */
.education_content,
.experience_content {
  display: flex;
}
.education_time,
.experience_time {
  padding-right: 1rem;
}
.education_rounder,
.experience_rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: 0.25rem;
}
.education_line,
.experience_line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light);
  transform: translate(7px, 0);
}
.education_data,
.experience_data {
  gap: 0.5rem;
}
.education_title,
.experience_title {
  font-size: var(--h3-font-size);
}
.education_studies,
.experience_company {
  font-size: var(--small-font-size);
  color: var(--title-color);
}
.education_year {
  font-size: var(--smaller-font-size);
}
/* SKILLS AND LANGUAGES */
.skills_content,
.languages_content {
  grid-template-columns: repeat(2, 1fr);
}
.languages_content {
  gap: 0;
}
.skills_name,
.languages_name {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.skills_circle,
.languages_circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: 0.75rem;
}
/* CERTIFICATES */
.certificate_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}
/* INTERESTS */
.interests_container {
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--mb-2);
}
.interests_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interests_icon {
  font-size: 1.5rem;
  color: var(--text-color-light);
}
/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--container-color-alt);
  border-radius: 0.4rem;
  z-index: var(--z-fixed);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop_icon {
  font-size: 1.2rem;
  color: var(--text-color);
}
.show-scroll {
  visibility: visible;
  bottom: 5rem;
}
/* MEDIA QUERIES */

/* Classes modified for large screen size */
@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
  }
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

 
  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }
  .resume_left {
    background-color: var(--container-color-alt);
  }
  .resume_left,
  .resume_right {
    padding: 0 1.5rem;
  }
  .section,
  .profile_description {
    text-align: initial;
  }
  .home_container {
    gap: 1.5rem;
  }
  .home_button-movil {
    display: none;
  }
 
  .languages_content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }
  .generate-pdf {
    display: inline-block;
  }
  .interests_container {
    grid-template-columns: repeat(4, max-content);
    column-gap: 3.5rem;
  }
}
.certificate_description{
  font-style: italic;
}
#cv-template {
  display: none;
  margin-top: 2rem;
}
.container{
  max-width: 800px;
}
.row{
  /* display: flex;
  gap: 2rem; */
}

.hide{
  display: none;
}

progress {
  border: none;
  height: 10px;
  width: 130px;
  padding-left: 0.5rem;
  border-radius: 10px;
}


progress::-webkit-progress-value {
  background: #403a3a;
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  background: #c9c9c9;
  border-radius: 10px;
}
/* home */
.header{
  margin-top: 2rem;
}
.header-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#inbody nav{
  margin-top: -3rem;
}
.navbar-brand img{
  width: 50px !important;
}
.header-container h1{
  font-weight: 900;
}
.header-container p{
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
.resume-card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}
.resume-card img{
  width: 300px;
  border: 1px solid rgb(75, 75, 75);
}
/* signup */
.form-container{
  border: 1px solid #444444;
  padding: 5rem;
}

.re-card{
  box-shadow: 1px 5px 5px rgba(13, 12, 12, 0.15);
  transition: 0.3s ease-in-out;
  height: 500px;
}
.re-card:hover{
  transform: scale(1.1);
  filter: drop-shadow(0 0px 5px #079cff);
}