*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: rgb(8, 32, 50);
}

#navbar{
    padding: 5px;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(33, 136, 196);
    
    height: 3.5rem;
}

.game{
    width: 100%;
    height: 87.5vh;
    background-color: rgb(8, 32, 50);

    position: relative;
}

#b1{
    position: absolute;
    top: 5%;
    left: 40%;
    background-color: rgb(240, 165, 0);
    border-radius: 5px;
    height: 1.5rem;
    width: 20%;
}
#b2{
    position: absolute;
    top:90%;
    left: 40%;
    background-color: rgb(240, 165, 0);
    border-radius: 5px;
    height: 1.5rem;
    width: 20%;
}
.ballArea{
    position: relative;
    top: 9.7%;
    background-color: rgb(8, 32, 50);
    height: 80.3%;
    width: 100%;
}
#ball{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(170, 216, 211);
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
