@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s all ease;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    /* background-color: #181a1d; */
}
.nav{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    border-right: 1px solid #80808033;
    width: 20vw;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80vw;
    border-right: 1px solid #80808033;
    /* color: whitesmoke; */
}
.content .genres{
    width: 40vw;
    line-height: 60px;
    /* color: #000; */
}
.content .genres ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.content .genres ul a{
    color: #000;
    text-decoration: none;
}
.content .genres ul a:hover{
    /* color: #fff; */
    transform: translateY(-5px);
}
.content .main-card{
    height: 55vh;
    width: 80%;
    margin-left: 10%;
    background-image: url('861120.webp');
    background-size: cover;
    border-radius: 25px;
    overflow: hidden;
    color: #fff;
}
.content .main-card .card-content{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin-top: 35vh;
    padding: 5vh;
    font-size: 0.8rem;
}
.content .main-card .card-content div{
    margin-top: 5px;
}
.content .main-card .card-content div :nth-child(1){
    padding: 10px 20px;
    background-color: red;
    color: whitesmoke;
    border-radius: 12px;
}
.content .main-card .card-content div :nth-child(2){
    /* margin-top: 30px; */
    margin-left: 5px;
    padding: 6px 15px 10px 15px;
    background-color: rgba(128, 128, 128, 0.541);
    font-size: 1.3rem;
    color: honeydew;
    border-radius: 10px;
}
.content .secondary-cards .top, .content .watching .top{
    display: flex;
    padding-top: 8px;
    width: 88%;
    margin-left: 6%;
    justify-content: space-between;
}
.content .secondary-cards .top .icons{
    font-size: 1.6em;
    color: grey;
    display: flex;
    width: 10%;
    justify-content: space-evenly;
}
.content .watching .top .icons{
    font-size: 1.6em;
    color: grey;
    display: flex;
    width: 10%;
    justify-content: space-evenly;
}
.content .secondary-cards .cards{
    display: flex;
    width: 90%;
    margin-left: 5%;
    justify-content: space-evenly;
}
.content .secondary-cards .cards #cards{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 20%;
    margin-top: 20px;
    border-radius: 10px;
    align-items: center;
    padding-top: 20vh;
    font-size: 0.8rem;
    color: #fff;
}
.content .secondary-cards .cards .card1{
    background-image: url('FLINT_12_300-001_HD_5b805d8a477971.65861568.jpg');
    background-size: cover;
}
.content .secondary-cards .cards a{
    padding: 10px 20px;
    background-color: rgba(207, 39, 39);
    color: #fff;
    margin-top: 70px;
    border-radius: 15px;
}
.content .secondary-cards .cards .card2{
    background-image: url('clean.jpg');
    background-size: cover;
}
.content .secondary-cards .cards .card3{
    background-image: url('hobbit.jpg');
    background-size: cover;
}
.content .secondary-cards .cards .card4{
    background-image: url('cindrella.jpg');
    background-size: cover;
}
.content .secondary-cards .cards #cards {
    padding: 14vh 2vh 2vh 2vh;
}
.content .secondary-cards .cards #cards .stars{
    color: goldenrod;
}
.content .watching .box{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 96%;
    margin-left: 2%;
    font-size: 0.8rem;
}
.content .watching .box #box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12vh;
    width: 25%;
    height: 15vh;
    border-radius: 12px;
}
.content .watching .box #box p{
    display: inline-block;
    background-size: inherit;
}
.overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20vw;
    height: 100vh;
    /* color: rgb(207, 204, 204); */
}
.overview .search-bar input{
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #808080;
    /* background: #181a1d; */
    /* border: none; */
    outline: none;
    color: #fff;
}
.overview .popular, .overview .fav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 42vh;
}
.overview .head{
    font-weight: 800;
}
.overview .movies{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
    font-size: 0.7rem;
}
.overview .popular .movies .card{
    display: flex;
    width: 10vw;
    justify-content: space-evenly;
    height: 30%;
    /* margin-left: ; */
}
.overview .fav .movies .card{
    display: flex;
    width: 12vw;
    justify-content: space-evenly;
    height: 30%;
}
.overview .movies .card .image{
    height: 100%;
    width: 30%;
    background-size: cover;
    border-radius: 10px;
}
.overview .movies .card i{
    font-size: 25px;
    color: yellow;
}
.overview .popular .movies .card .cont{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.overview .popular .movies .card .cont span{
    font-size: 0.5rem;
}
.overview .popular .movies .card .image1{
    background: url('thor.jpg');
    background-size: cover;
}
.overview .popular .movies .card .image2{
    background: url('iron\ man.jpg');
    background-size: cover;
}
.overview .popular .movies .card .image3{
    background:url('wolverine.jpg');
    background-size: cover;
}
.overview .fav .movies .card .image4{
    background:url('hobbit.jpg');
    background-size: cover;
}
.overview .fav .movies .card .image5{
    background:url('Superman.jpg');
    background-size: cover;
}
.overview .fav .movies .card .image6{
    background:url('Batman.jpg');
    background-size: cover;
}
.overview button{
    width: 12vw;
    height: 35px;
    background-color: rgba(253, 39, 39, 0.89);
    border: none;
    color: #fff;
    border-radius: 10px;
}
.overview button:hover{
    cursor: pointer;
    background-color: rgba(253, 39, 39, 0.616);
}