.footer{
    height: 6vh;
    width: 100%;
    background-color: rgb(29, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 0;
    margin-top: 6vh;
}