@keyframes spin {
    0% {background: url("./heads.png")}
    
    25% {background: url("./tails.png")}
    
    50% {background: url("./heads.png")}
    
    75% {background: url("./tails.png")}
    
    100% {background: url("./heads.png")}
}


#image{
    background: url("./heads.png");
    width: 255px;
    height: 260px;
    
}

.animate{
    background: url("./heads.png");
    width: 255px;
    height: 260px;
    animation-name: spin;
    animation-iteration-count: 2;
    animation-duration: 1s;
}

.canvas{
    width: 800px;
    height: 500px;
    margin: 50px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

#center{
    width: 227px;
    margin: 15px auto;
}

.selection, #player, #computer{
    display: inline;
    margin: 25px;
    font-size: 1.3em;
}

button {
    font-size: 1.2em;
    border-radius: 5px;
}