#container {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  background-color: aqua;
}

#title-id {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}

#button-id {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  width: 180px;
  height: 60px;
  padding: 0px;
  font-size: 26px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow: hidden;
  font-weight: 400;
  border-radius: 8px;
  color: white;
  background-color: red;
  border: none;
  box-shadow: inset 0 0 0 0 yellow;
  transition: ease-out 0.3s;
}

.button:hover {
  cursor: pointer;
  box-shadow: inset 300px 0 0 0 yellow;
  color: black;
}

@media (max-width: 500px) {
  #container {
    width: 300px;
    height: 550px;
    margin: 20px auto;
  }
}
