<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/feed.css" />

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
</head>
<body>

    <div class="container mt-2">
        <!--   <div class="card card-block mb-2">
            <h4 class="card-title">Card 1</h4>
            <p class="card-text">Welcom to bootstrap card styles</p>
            <a href="#" class="btn btn-primary">Submit</a>
          </div>   -->
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="card card-block">
              <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                <h5 class="card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p> 
          </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="card card-block">
              <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
            <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                <p class="card-text">This is a company that builds websites, web .</p> 
          </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="card card-block">
              <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
            <img src="https://static.pexels.com/photos/262550/pexels-photo-262550.jpeg" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p> 
          </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="card card-block">
              <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
            <img src="https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p> 
          </div>
            </div>    
          </div>
          
        </div>
        
    
</body>
</html>