<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>

    <div class="logo">
        <img class="logo-img" src="assets/logo.png" alt="" />
      </div>
  
      <div class="nav-bar">
        <a class="active custom-1" href="/">Home</a>
        <a class="custom-2" href="/investor_form">Invest</a>
        <a class="custom-3" href="/startup_form_main">Get Funded</a>
        <a class="custom-4" >Contact</a>
        <button
          onclick="window.location.href='/login';"
          class="sign-in-nav"
          type="submit"
        >
          Sign In
        </button>
        <button
          onclick="window.location.href='/option';"
          class="sign-up-nav"
          type="submit"
        >
          Sign Up
        </button>
      </div>
    
</body>
</html>