<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Investor Form</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/investor_form_main.css" />

    <script
      src="https://kit.fontawesome.com/5ce7758448.js"
      crossorigin="anonymous"
    ></script>

    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('header.ejs'); -%>


    <div class="headings">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="top-heading">Create your personalized profile</h1>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 justify-content-start form-pic" data-aos="fade-right">
          <img class="pic" src="assets/4401305.jpg" alt="" />
        </div>

        <div class="col-lg-6 form-menu" data-aos="fade-left">
          <div class="col-lg-12 text-center">
            <div class="card col-lg-12">
              <h2 id="heading">Sign Up Your User Account</h2>
              <p>Fill all form field to go to next step</p>
              <form id="msform" action="/registerInvestor" method="POST">
                <!-- progressbar -->
                <ul id="progressbar">
                  <li class="active" id="account"><strong>Personal Details</strong></li>
                  <li id="personal"><strong>Investment Profile</strong></li>
                  <li id="confirm"><strong>Finish</strong></li>
                </ul>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-striped progress-bar-animated"
                    role="progressbar"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <br />
                <!-- fieldsets -->
                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">
                        <h2 class="fs-title">Investor Information:</h2>
                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 1 - 3</h2>
                      </div>
                    </div>
                    
                    <label class="fieldlabels">Name: *</label>
                    <input type="text" name="name" placeholder="Name" />
                    <label class="fieldlabels">Email: *</label>
                    <input type="email" name="email" placeholder="Email ID" />
                    <label class="fieldlabels">Password: *</label>
                    <input type="password" name="password" placeholder="Password" />
                    <label class="fieldlabels">Confirm Password: *</label>
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" />
                    <label class="fieldlabels">Phone: *</label>
                    <input
                      type="text"
                      name="phone"
                      placeholder="Mobile Number"
                    />
                    <label class="fieldlabels">LinkedIn URL: *</label>
                    <input
                      type="url"
                      name="lurl"
                      placeholder="LinkedIN profile"
                    />
                    <label class="fieldlabels">Which city do you live in? *</label>
                    <input
                      type="text"
                      name="city"
                      placeholder="City"
                    />
                    
                  </div>
                  <input
                    type="button"
                    name="next"
                    class="next action-button"
                    value="Next"
                  />
                </fieldset>
                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">
                        <h2 class="fs-title">Investor Profile:</h2>
                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 2 - 3</h2>
                      </div>
                    </div>
                    <label class="fieldlabels">What is your investment budget for the year? (In INR) *</label>
                    <input
                      type="text"
                      name="budget"
                      placeholder="Enter budget"
                    />
                    
                  </div>
                  <input
                    type="submit"
                    name="next"
                    class="next action-button"
                    value="Next"
                  />
                  <input
                    type="button"
                    name="previous"
                    class="previous action-button-previous"
                    value="Previous"
                  />
                </fieldset>
                
                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">
                        <h2 class="fs-title">Finish:</h2>
                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 3 - 3</h2>
                      </div>
                    </div>
                    <br /><br />
                    <h2 class="purple-text text-center">
                      <strong>SUCCESS !</strong>
                    </h2>
                    <br />
                    <div class="row justify-content-center">
                      <div class="col-3">
                        <img
                          src="https://i.imgur.com/GwStPmg.png"
                          class="fit-image"
                        />
                      </div>
                    </div>
                    <br /><br />
                    <div class="row justify-content-center">
                      <div class="col-7 text-center">
                        <h5 class="purple-text text-center">
                          You Have Successfully Signed Up
                        </h5>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/startup_form.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset:300,
        duration:1000,
      });
    </script>
  </body>
</html>
