{% extends "layout.html" %} {% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='/assets/img/home-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{params['blog_name']}}</h1>
                    <span class="subheading">A Blog By Nishith</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->


            {% for post in posts %}
            <div class="post-preview">
                <a href="/post/{{post.slug}}">
                    <h2 class="post-title">{{post.title}}</h2>
                    <h3 class="post-subtitle">{{post.subtitle}}</h3>
                    <h4 class="post-subtitle">{{post.content[0:150]}}......</h4>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{post.author}}</a> on {{post.date}}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" /> {% endfor %}




            <!-- Pager-->
            <div class="d-flex justify-content-between mb-4">
                <a class="btn btn-primary text-uppercase" href="{{prev}}">← PREVIOUS</a>
                <a class="btn btn-primary text-uppercase" href="{{next}}">NEXT →</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}