:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("img/background.jpg") no-repeat center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
  position: relative;
  z-index: 2;
  height: 90px;
}

.showcase-top img {
  width: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 40%;
  right: 0;
  transform: translate(-50%, -50%);
}

img {
  width: 100%;
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
  z-index: 2;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1.1rem;
  margin: 0 0 2rem;
}

.showcase-content p {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0 0 1.3rem;
}

.tabs {
  background: var(--dark-color);
  padding-top: 0.6rem;
  border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs p {
  font-size: 0.8rem;
  padding-top: 0.1rem;
}

.tabs .container > div {
  padding: 0.8rem;
}

.tabs .container > div:hover {
  color: #fff;
  cursor: pointer;
}

.tab-border {
  border-bottom: var(--primary-color) 3px solid;
}

.tab-content {
  padding: 3rem 0;
  background: #000;
  color: #fff;
}

#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}

.show {
  display: block !important;
}

#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

#tab-2-content .tab-2-content-top {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

#tab-2-content .tab-2-content-bottom {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#tab-3-content .tab-3-content-top {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.table thead th {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.8rem;
}

.table tbody tr td {
  color: #999;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.8rem;
}

.table tbody tr td:first-child {
  text-align: left;
}

.table tbody tr:nth-child(odd) {
  background: #222;
}

.footer {
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
}

.footer,
.footer a {
  color: #999;
  font-size: 0.7rem;
}

.footer a:hover {
  color: #fff;
  cursor: pointer;
}

.footer p {
  margin-bottom: 1.2rem;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer li {
  line-height: 1.9;
}

.footer .footer-cols ul {
  margin-bottom: 1.3rem;
}

.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.text-lg {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.text-dark {
  color: #555;
  font-size: 0.8rem;
}

.text-md {
  font-size: 0.9rem;
  margin-bottom: 0rem;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 0.7rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 3px;
}

.btn:hover {
  opacity: 0.85;
}

.btn-rounded {
  border-radius: 5px;
  padding: 0.35rem 0.7rem;
}

.btn-xl {
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 0.8rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}

@media (max-width: 890px) {
  .showcase {
    height: 70vh;
  }
  .hide-sm {
    display: none;
  }
  .showcase-top img {
    top: 30%;
    left: 5%;
    transform: translate(0);
  }
  .showcase-content h1 {
    font-size: 2rem;
    line-height: 0.9rem;
  }
  .showcase-content p {
    font-size: 0.8rem;
  }
  .btn-xl {
    font-size: 0.8rem;
    padding: 0.6rem 1.2rem;
  }
  .btn-lg {
    font-size: 0.6rem;
  }
  .text-lg {
    font-size: 0.9rem;
  }
  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }
  #tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
  }
  #tab-2-content .tab-2-content-bottom {
    grid-template-columns: 1fr;
  }
  .table thead th {
    font-size: 0.6rem;
  }
  .showcase::after {
    box-shadow: inset 60px 50px 250px #000000, inset -60px -50px 250px #000000;
  }
}
