
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 65px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 70px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.chirag-img{
  width: 15%;
}
.palette-img{
  float: left;
  margin-right: 30px;
}
.idea-img{
  float: right;
  margin-left: 30px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: 200;
   padding: 12px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CD;
   background-image: -webkit-linear-gradient(top, #30E3CD, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CD, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CD, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CD, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CD, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
