.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 5px 10px;
    color: white;
    background-color: rgb(233, 123, 187);
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;

}
.my-1{
    margin: 5px 0;
}
.my-2{
    margin: 26px 0;
}
.text-center{
    text-align: center;
}