@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --primary: #FDE68A;
    --black: #333333;
    --width-break:600px
}

body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    background-image: url("/images/Bg1.jpg");
    color: #333333;
}

nav {
    background-color: var(--primary);
    text-align: left;
    border-left: 2rem;
    
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
    cursor:pointer;
}


 #translate-output {
    box-sizing: border-box;
    width: 100%;
    min-height: 15vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid var(--black);
    background-color: white;
} 



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}