/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

/* Global */
body {
    background: #eaefff;
}

section {
    margin-bottom: 1rem;
}

section h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #333333;
}

.bg-navbar {
    background: #353b48 !important;
}

.btn-primary {
    background: #5271D8;
}

.btn-primary:hover {
    background: #4863bd;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

/* 
Ini CSS buat diindex ya
Jangan sampe lupa!!
*/

/* Navbar */
.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.navbar-brand:hover {
    color: #cecece;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
    color: #cecece;
}

.navbar-toggler-icon {
    color: #ffffff !important;
}

/* Header */
header.utama {
    height: 75vh;
}

header.produk {
    height: 40vh;
}

.judul {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #ffffff;
}

.subjudul {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: rgb(209, 209, 209);
    font-weight: 400;
}

/* Section About */
.section-about {
    background: #ffffff75;
    /* #ffffff75 */
}

.section-about p {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

/* Section Info */
.section-info p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.kotak-info {
    background: linear-gradient(270deg, rgba(247, 249, 255, 1) 0%, rgba(242, 246, 255, 1) 100%);
    box-shadow: 3px 3px 3px rgba(167, 166, 255, 0.2);
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all 1s ease;
    will-change: transform;
}

.kotak-info:hover {
    border-radius: 10px;
    transform: translateY(-5px);
}

.info-icon {
    font-size: 3rem;
    margin-top: 5px;
}

.text-inpo {
    margin-left: 1rem;
}

.text-inpo h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #889db8;
}

.text-inpo p {
    margin-bottom: -15px;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    margin-top: -10px;
    font-weight: 600;
    color: #26384e;
}

/* Section Product */
.info-product {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}

.swiper-container {
    background: linear-gradient(270deg, rgba(247, 249, 255, 1) 0%, rgba(242, 246, 255, 1) 100%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    position: relative;
    max-width: 1000px;
    height: 100%;
    max-height: 500px;
    border-radius: 10px;
}

.slider-image-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.swiper-wrapper h1 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #26384e;
    transform: translateY(20px);
    transition: all 0.4s ease;
    transition-delay: 0.2s;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.swiper-wrapper p {
    font-size: 16px;
    line-height: 24px;
    color: #889db8;
    transform: translateY(20px);
    transition: all 0.4s ease;
    transition-delay: 0.3s;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slider-item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    opacity: 0;
    background: linear-gradient(270deg, rgba(247, 249, 255, 1) 0%, rgba(242, 246, 255, 1) 100%);
    cursor: grab;
}

.slider-item-content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
}

.slider-item-content>* {
    opacity: 0;
    transform: translateY(20px);
}

.swiper-slide-active .slider-item-content>* {
    transform: translateY(0px);
    opacity: 1;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}

.swiper-pagination {
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translatex(-50%);
    z-index: 1;
    width: auto !important;
}

.swiper-pagination-bullet {
    border-radius: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 12px;
    opacity: 1;
    background: #5271d862;
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.swiper-pagination-bullet-active {
    background: #5271D8;
    width: 20px;
    border-radius: 10px;
}

.slider-buttons {
    position: absolute;
    display: flex;
    top: 100%;
    justify-content: flex-end;
    width: 100%;
    padding-top: 8px;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #353b48;
    position: relative;
    margin-left: 4px;
}

.swiper-button-next:before,
.swiper-button-prev:before {
    content: '';
    position: absolute;
    background-color: #353b48;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.2s;
}

.swiper-button-next:hover:before,
.swiper-button-prev:hover:before {
    width: 100%;
}

/* Footer */
footer a {
    color: #5271D8;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

footer a:hover {
    color: #4863bd;
}

/* Responsive */
@media screen and (max-width:728px) {
    .swiper-wrapper {
        margin-top: 1rem;
    }

    .swiper-button-next:hover:before,
    .swiper-button-prev:hover:before {
        display: none;
    }

    .swiper-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }

    .swiper-wrapper h1 {
        font-size: 16px;
        line-height: 24px;
    }
}

/* 
Ini CSS buat dihalaman produk ya
Jangan sampe lupa!!
*/

/* Section Product */
.product-card {
    background: linear-gradient(270deg, rgba(247, 249, 255, 1) 0%, rgba(242, 246, 255, 1) 100%);
    box-shadow: 3px 3px 3px rgba(167, 166, 255, 0.2);
    color: white;
    padding: 15px;
    border-radius: 7px;
    display: flex;
    align-items: flex-start;
    position: relative;
    transition: all 1s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card div {
    flex: 1 1 0%;
    align-self: stretch;
    flex-direction: row;
}

.product-card .image {
    background: #5271D8;
    position: relative;
    border-radius: 7px;
    align-items: center;
}

.product-card .image img {
    width: 100%;
    height: auto;
}

.product-card .card-content {
    padding: 10px 20px;
}

.product-card .card-content a {
    text-decoration: none;
}

.product-card .card-content h3 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #26384e;
    transition: all 1s ease;
}

.product-card .card-content h3:hover {
    color: #5271D8;
}

.product-card .card-content p {
    margin: 15px 0px;
    color: #889db8;
}

.product-card .card-content .store-purchase {
    display: flex;
    flex-direction: row;
}

.product-card .card-content .store-purchase .price {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0.4rem;
    color: #4d4d4d;
}

.product-card .card-content .store-purchase button {
    border: none;
    background: #5271D8;
    padding: 8px 15px;
    border-radius: 5px;
    float: right;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
    color: #ffffff;
}

.product-card .card-content .store-purchase button:hover {
    background: #4863bd;
}

@media screen and (max-width: 768px) {
    .product-card div {
        flex-direction: column;
    }
}