<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn css-button-sliding-to-left--sky">
            Login</a
        >
        <a href="/signup" class="col-3 btn css-button-sliding-to-left--sky">
            Signup</a
        >
    </div>
</main>

<%- include('partials/footer') -%>
